<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  
</head>

<body>

  <form th:action="@{/countries/save}" th:object="${country}" method="post">
	
	<label for="iso" >ISO</label>
	<input type="text" th:field="*{iso}" id="iso" name="iso" autofocus="autofocus"/>
	<br/>
	
	<label for="name" >Nombre</label>
	<input type="text" th:field="*{name}" id="name" name="name" />
	<br/>
	
	<label for="nicename" >Nicename</label>
	<input type="text" th:field="*{nicename}" id="nicename" name="nicename" />
	<br/>
	
	<label for="iso3" >ISO3</label>
	<input type="text" th:field="*{iso3}" id="iso3" name="iso3" />
	<br/>
	
	<input type="submit" value = "Guardar">
	<br/>
	
  </form>  

</body>
</html>