<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <div th:replace="base :: heads(pageTitle = 'Países')"></div>
</head>

<body>

	<div class="alert" th:if="${message != null}">
  				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  				<strong th:text="${message}"> </strong> 
	</div>

  <form class="form-group mt-5 rounded" th:action="@{/countries/save}" th:object="${country}" method="post">
	
	<h2 th:text=" | ${action} país|  "> </h2>
		
	<input type="hidden" th:field="*{id}" />
	
	<label for="iso" >ISO</label>
	<input class="form-control" type="text" th:field="*{iso}" id="iso" name="iso" autofocus="autofocus"/>
	<br/>
	
	<label for="name" >Nombre</label>
	<input class="form-control" type="text" th:field="*{name}" id="name" name="name" />
	<br/>
	
	<label for="nicename" >Nicename</label>
	<input class="form-control" type="text" th:field="*{nicename}" id="nicename" name="nicename" />
	<br/>
	
	<label for="iso3" >ISO3</label>
	<input class="form-control" type="text" th:field="*{iso3}" id="iso3" name="iso3" />
	<br/>
	
	<button type="submit" class="btn btn-outline-primary"> <i class="fa fa-save"></i> Guardar</button>
	<br/>
	<br/>
	
	<a class="btn btn-outline-primary"> <i class="fa fa-arrow-left"></i> Regresar</a>
	
  </form>  

</body>
</html>